<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="../public/lib/bootstrap/css/bootstrap.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/demo.css">
    <title>Hello World</title>
</head>
<body>
<header>
    <div>
        <p>Hello world</p>
    </div>
</header>
<section class="container-fluid">
    <div class="row">
        <div class="menu col-md-2">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
        </div>
        <div class="main col">
            <div class="row">
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_03.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>Nigeria vs Guinée 1-0 Highlight & All Goal</p>
                            <span>The GodFootball</span>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_04.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>50+ Players Humiliated by Hueng-Min Son</p>
                            <span>The GodFootball</span>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_05.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>CỚ SAO EM LẠI - Huỳnh James x Pjnboys</p>
                            <span>Mondo Records</span>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_06.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>David De Gea 25 phản xạ khó tin là có thật</p>
                            <span>Điểm Danh Cầu Thủ</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_09.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>Mbappe is good.. but Messi & Ronando were Monster</p>
                            <span>The GodFootball</span>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_10.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>50+ Players Humiliated by Hueng-Min Son</p>
                            <span>The GodFootball</span>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_11.gif">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>CỚ SAO EM LẠI - Huỳnh James x Pjnboys</p>
                            <span>nMondo Records</span>
                        </a>
                    </div>
                </div>
                <div class="box col-sm-3">
                    <div class="img">
                        <a href="#">
                            <img class="img-fluid" src="../public/images/2019-06-27_1435191_13.jpg">
                        </a>
                    </div>
                    <div class="link">
                        <a href="#">
                            <p>David De Gea 25 phản xạ khó tin là có thật</p>
                            <span>Điểm Danh Cầu Thủ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="about col-md-2">
            <div class="right">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipicing  elit.</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div>
        <p>Footer</p>
    </div>
</footer>
</body>
</html>
